{% if theme.busuanzi_count.enable %}
<div class="busuanzi-count">
<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

{% if theme.busuanzi_count.total_visitors %}
  <span class="post-meta-item-icon">
    <i class="fa fa-{{ theme.busuanzi_count.total_visitors_icon }}"></i>
  </span>
  <span class="site-uv" title="{{ __('footer.total_visitors') }}">
    &nbsp;本站访客数&nbsp;<span class="busuanzi-value" id="busuanzi_value_site_uv"></span>人</span>	
  </span>
{% endif %}

{% if theme.busuanzi_count.total_visitors and theme.busuanzi_count.total_views %}
  <span class="post-meta-divider">|</span>
{% endif %}

{% if theme.busuanzi_count.total_views %}
  <span class="post-meta-item-icon">
    <i class="fa fa-{{ theme.busuanzi_count.total_views_icon }}"></i>
  </span>
  <span class="site-pv" title="{{ __('footer.total_views') }}">
    &nbsp;本站总访问量&nbsp;<span class="busuanzi-value" id="busuanzi_value_site_pv"></span>次</span>	
  </span>
{% endif %}
</div>
{% endif %}
