.post-copyright {
  background: $whitesmoke;
  border-left: 3px solid $red;
  list-style: none;
  margin: 2em 0 0;
  padding: .5em 1em;
};



.swal-overlay {
  background-color: transparent;
}

.copy-success-message {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  border-radius: 4px;
  width: auto;  
  margin: 16x 0px;
  vertical-align: top;
}

.copy-success-message .swal-content {
  margin: 0px 0px !important;
  padding: 10px 16px;  
  line-height: 1em;
}

.copy-success-message .message-icon {
  color: #52c41a;
  margin-right: 8px;
}

.copy-success-message .message-content {
  font-size: 14px;
}
