<div>
    {% if not is_index %}
        <div style="text-align:center;color: #ccc;font-size:14px;">
        -------------本文结束 <i class="fa fa-paw"></i> 感谢您的阅读-------------
        </div>
    {% endif %}
</div>
