
//主标题颜色
.brand{
  color: #ff0000
  background: transparent;  
}


// 添加背景图片
body {
  background: url(/updates/backup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: #444;
  font-size: 14px;  
}



// 倾边透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 1;
}


.content {
    border-radius: 20px; //文章背景设置圆角
    padding: 5px 10px 5px 10px;
    background:rgba(255, 255, 255, 0.8) none repeat scroll !important;
}



// 菜单图表链接 以及 超链接样式
a {
    color: rgba(0,0,0,0.8);
}
a:hover {
//    color: #ff106c;
    color: #ff0000;
    border-bottom-color: #fff;
}

// 菜单字体大小
.menu .menu-item a {
    font-size: 14px;
}
.menu .menu-item a:hover {
    border-bottom-color: #ff0000;
}

// 文章背景框框
.post {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 18px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.8);
   }

// 站点描述
.site-description {
    font-size: 16px;

}


// 作者名
.site-author-name {
    font-size: 20px;
}
//font-family: 'Comis Sans MS', sans-serif;

// 文章之间的分割线
.posts-expand .post-eof {
    margin: 40px auto 40px;
    background: white;
}

// 右下角侧栏按钮样式
.sidebar-toggle {
    right: 10px;
    bottom: 43px;
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #ff0000;
}
.page-post-detail .sidebar-toggle-line {
    background: #000;
}


// 右下角返回顶部按钮样式
.back-to-top {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #ff0000;
}


.back-to-top.back-to-top-on {
    bottom: 10px;
}

// ``代码块样式
code {
    color: #ff0000;
    background: #d1d1d1d1;
    border-radius: 3px;
}

// 文章```代码块顶部样式
.highlight figcaption {
    margin: 0em;
    padding: 0.5em;
    background: #eee;
    border-bottom: 1px solid #ff0000;
}
.highlight figcaption a {
    color: rgb(80, 115, 184);
}

// 文章内标题样式（左边的竖线）
.post-body h2, h3, h4, h5, h6 {
    border-left: 3px solid #ff0000;
    padding-left: 6px;
}

.post-body h1 {
    border-left: 5px solid #ff0000;
    padding-left: 8px;
}

// [Read More]按钮样式
.post-button .btn {
    color: #fff !important;
    background-color: #666;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    border: none !important;
    transition-property: unset;
    padding: 0px 15px;
}
.post-button .btn:hover {
    color: #000 !important;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
//    background-image: linear-gradient(90deg, #a166ab 0%, #ef4e7b 25%, #f37055 50%, #ef4e7b 75%, #a166ab 100%);
    background-color: #d1d1d1d1;
}


// 搜索功能样式
.local-search-popup {
    display: none;
    position: fixed;
    top: 10%;
    left: ;
    margin-left: ;
    height: 80%;
    padding: 0;
    background: #000000ab; // 搜索框背景色
    color: #000000; // 搜索框文字颜色
    z-index: 9999;
    border-radius: 5px;
}


